<div class="ui-container">
  <div class="ui secondary pointing menu">
    <a class="item" routerLinkActive="active" routerLink="/elements"
      >Elements</a
    >
    <a class="item" routerLinkActive="active" routerLink="/collections"
      >Collections</a
    >
    <a class="item" routerLinkActive="active" routerLink="/views">Views</a>
    <a class="item" routerLinkActive="active" routerLink="/mods">Mods</a>
    <a class="item" routerLinkActive="active" routerLink="/reactive-forms"
      >Reactive Forms</a
    >
    <a class="item" routerLinkActive="active" routerLink="/math-form"
      >Math Form</a
    >
    <a class="item" routerLinkActive="active" routerLink="/email"
      >Email Client</a
    >

    <div class="ui right dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Applications</div>
        <div class="item">International Students</div>
        <div class="item">Scholarships</div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
